{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
    <div class="content">
        <section class="hero is-blod is-warning">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Bienvenue</h1>
                    <h2 class="subtitle">Connectez-vous ou inscrivez-vous</h2>
                </div>
            </div>
        </section>
        <div class="container">
            <ul>
                <li><a href="{{ path('inscription') }}">Créer un compte</a></li>
                <li><a href="{{ path('login') }}">Se connecter</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
